
body{
    padding: 2rem;
}

.upper .left{
    display: flex;
    gap: 1rem;
    align-items: center;
}

form.search{
    display: flex;
    gap: 0.4rem;
}

form input, form select{
    padding: 0.1rem;
    font-size: 1.2rem;
    border-radius: 0.2rem;
}

.search input{
    padding-left: 0.5rem;
}

#search-btn{
    padding: 0.1rem;
    border: none
}

form label{
    font-size: 1.2rem;
}

.btn{
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.25rem;
    padding: 0.3rem 0.5rem;
    text-decoration: none;
}

.btn:hover{
    outline: 1px solid black;
}

#new-product-btn{
    background-color: royalblue;
    border: transparent;
    color: white;
}

#remove-filters-btn{
    background-color: red;
    color: white;
}

.upper{
    display: flex;
    justify-content: space-between;
}

main{
    padding: 1rem;
    border: 1px slategray solid;
    border-radius: 0.4rem;
    display: flex; 
    flex-direction: column;
    gap: 1rem;
}

table{
    border-collapse: collapse;
    border: 2px solid slategray;
    width: 100%;
}

th,
td {
    border: 1px solid slategray;
    
}

th{
    text-align: start;
    padding: 0.5rem 0.7rem;
}

tr:hover{
    background-color: rgb(201, 205, 209);
    cursor: pointer;
}

td a{
    text-decoration: none;
    color: black;
    padding: 0.5rem 0.7rem;
    display: block;
}

