
body{
    padding: 2rem;
}

.upper .left{
    display: flex;
    gap: 1rem;
    align-items: center;
}

form.search{
    display: flex;
}

#new-product-btn{
    background-color: royalblue;
    border: transparent;
    color: white;
    font-size: 1.2rem;
    border-radius: 0.25rem;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
}

.upper{
    display: flex;
    justify-content: space-between;
}

main{
    padding: 1rem;
    border: 1px slategray solid;
    border-radius: 0.4rem;
    display: flex; 
    flex-direction: column;
    gap: 1rem;
}

table{
    border-collapse: collapse;
    border: 2px solid slategray;
    width: 100%;
}

th,
td {
    border: 1px solid slategray;
    
}

th{
    text-align: start;
    padding: 0.5rem 0.7rem;
}

tr:hover{
    background-color: rgb(201, 205, 209);
    cursor: pointer;
}

td a{
    text-decoration: none;
    color: black;
    padding: 0.5rem 0.7rem;
    display: block;
}

