body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.wrapper header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.field{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.field label{
    font-size: 1.2rem;
}

.field input, .field select{
    width: 30rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.4rem;
}

form{
    border: 0.12rem slategray solid;
    border-radius: 0.4rem;
    padding: 2rem;
    /* font-size: 2rem; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form button{
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: none;
    background-color: royalblue;
    color: white;
}

form button:hover{
    background-color: rgb(43, 95, 253);
}

.btn-container{ 
    align-self: flex-end;
}

.btn-container a{
    padding: 0.5rem; 
    font-size: 1.2rem;   
    border-radius: 0.4rem;   
    cursor: pointer;   
    border: 1px solid black;  
    background-color: transparent;
    color: black;
    text-decoration: none;
}
