body{
    padding: 2rem;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.actions{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card p{
    font-size: 1.2rem;
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.btn{
    border: none;
    padding: 0.1rem 0.3rem;
    border-radius: 0.2rem;
    cursor:pointer;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

.btn:hover{
    outline: 1px solid black;
}

#delete-btn{
    background-color: red;
}

#edit-btn{
    background-color: royalblue;
    align-self: flex-start;
}

#back-btn{
    background-color: gray;
}

a{
    text-decoration: none;
}

.card .header{
    display: flex;
    gap: 1rem;
    align-items: center;
}

form{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    
}

.field{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

form input{
    padding: 0.2rem;
    font-size: 1.2rem;
    border-radius: 0.4rem;
}